@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap");

:root {
  --lightBackground: #f9f9f9;
  --primaryBlue: #5271ff;
  --secondaryBlue: #38b6ff;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
}

.hero {
  height: 90vh;
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.hero-image {
  width: 600px;
}

.chevron {
  animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}
